* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-gray: #e0e0e0;
  --soft-green: #7bbf7b;
  --dark-gray: #333333;
  --light-blue: #7ec8ff;
}

body {
  background-color: var(--dark-gray);
  color: var(--light-gray);
  font-family: monospace;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 15px;
}

h1 {
  font-size: 3rem;
  margin: 30px 0;
  text-align: center;
  color: var(--light-gray);
}

#change-due {
  text-align: left;
  font-size: 1.5rem;
  color: var(--light-blue)
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 0 25px;
}

label {
  font-size: 20px;
  color: var(--light-blue);
}

.user-input {
  height: 35px;
  padding: 12px;
  margin: 12px;
  font-size: 16px;
  border: 2px solid var(--light-blue);
  border-radius: 8px;
}

.price-screen {
  border: 5px solid var(--light-gray);
  background-color: #b3b3b3;
  height: 60px;
  width: 220px;
  color: rgb(65, 65, 65);
  font-size: 1.4rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.top-register {
  display: flex;
  justify-content: space-around;
  border-radius: 5px 5px 0 0;
  padding-top: 25px;
  background-color: var(--soft-green);
  height: auto;
  width: 500px;
}

.btns-container {
  width: 40%;
  display:block;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  border-radius: 5%;
  width: 50px;
  height: 50px;
  background-color: var(--dark-gray);
  color: var(--light-gray);
  font-size: 1rem;
  margin: 5px;
  cursor: pointer;
}

.check-btn-styles {
  cursor: pointer;
  width: 120px;
  height: 35px;
  margin: 12px;
  color: var(--dark-gray);
  font-size: 20px;
  font-weight: bold;
  background-color: var(--soft-green);
  background-image: linear-gradient(#a4d79c, #7bbf7b);
  border-color: var(--soft-green);
  border-width: 3px;
  border-radius: 5px;
}

.cash-drawer-display {
  font-size: 1.2rem;
  background-color: #adadad;
  width: 50%;
  height: auto;
  color: var(--dark-gray);
  padding: 15px;
  border: 2px solid var(--dark-gray);
  border-radius: 5px;
  margin-bottom: 20px;
}

.bottom-register {
  background-color: var(--soft-green);
  height: 60px;
  width: 500px;
  margin-top: 15px;
  border-radius: 0 0 5px 5px;
}

.circle {
  margin: 18px auto;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: var(--dark-gray);
}
